html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #585858;
    border: 0;
}

.icontainer {
    font-size: 18px;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    background: #ffffff;
    max-width: 1250px;
    margin: 20px;
    display: flex;
    box-shadow: 2px 4px 8px rgba(102, 162, 222, 0.15);
}

.left {
    background: linear-gradient(to bottom left, #02B3A4, #66A2DE);
    padding: 40px;
    width: 450px;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: 'Benton Sans', Arial, Helvetica, sans-serif;
}

.right {
    padding: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.iheader {
    font-size: 64px;
    font-family: 'Bookman Old Style', Arial, Helvetica, sans-serif;
    margin: 10px 0px;
    line-height: 54px;
}

.big {
    font-size: 28px;
    width: 100%;
    margin: 5px 0px;
}

a {
    color: #02B3A4;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.gh {
    font-size: 16px;
    text-align: center;
    width: 100%;
}